body {
    background-image: url("https://images.unsplash.com/photo-1607499699372-7bb722dff7e2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
background-position: center;
background-attachment: fixed;
}

h1, h2 {
    color: #bab8b8;
    margin-bottom: 40px;
    margin-left: 20px
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

p {
    display: inline-block;
    color: #bab8b8;
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}