.circle {
    width: 200px;
    height: 200px;
    margin: 100px auto 0 auto;
    animation: preloader 10s linear infinite alternate;
}

@keyframes preloader {
    from {
        background: #FF7143;
        border-radius: 0;
    }
    10% {
        background: #FF7143;
        border-radius: 0;
    }
    25% {
        background: darkturquoise;
        border-radius: 50%;
    }
    50% {
        background: hotpink;
        border-radius: 50%;

    }
    75% {
        background: purple;
        border-radius: 50%;
    }
    90% {
        background: lightseagreen;
        border-radius: 0;

    }
    to {
        background: lightseagreen;
        border-radius: 0;

    }
}
