p {
    font-size: 100px;
    font-weight: 400;
    font-family: "Yellowtail", cursive;
}
.animation{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.you {
    animation: slideInRight 0.8s ease-out;
    order: -1;
}


@keyframes slideInRight {
    from {
        transform:translateY(-300px);
        opacity: 0;
    }
    to{
        transform:translateY(0);
        opacity: 1;
    }

}